header.masthead {
  background: url("../../assets/img/minecraft.png");
  background-size: cover;
}

.h3, h3 {
  font-size: 1.4em;
}

span.small {
  font-size: .8em;
}

code.small {
  display: block;
  font-size: .6em;
}

img.thumb {
  width: 220px;
}

li {
  padding-top: 5px;
}

li.list-group-item span {
  font-weight: bold;
}


@media screen and (min-width: 600px) {
  .mobile-break { display: none; }
}

#server_status,
#players_online,
#players_total {
  color: grey;
  font-weight: bold;
}
.online {
  color: chartreuse !important;
}
.offline {
  color: red !important;
}
